.login-form {
    padding: 20px;
    border-radius: 15px;
 
 
}
 
input {
    box-sizing: border-box;
    margin: 8px;
}
 
input [type="password"] {
    width: 260px;
    height: 42px;
    padding: 8px 12px;
    border: 10px solid palevioletred;
    box-sizing: border-box;
}
input [type="submit"] {
    width: 260px;
    height: 42px;
    padding: 8px 12px;
    border: 10px solid rgb(101, 183, 185);
    box-sizing: border-box;
}
 