h4{
    display: block;
    margin-block-start: 1.33cm;
    margin-block-end: 1.33cm;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}
body{
    margin: 0;
    padding: 0;
    font-family: system-ui; -apple-system, BlinkMacSystemFont, 
    
}
.box{
    background: rgb(51,141,201);
    height:50px;
    margin:30px;
    padding:16px;
    display:grid;
    place-items: center;
}
div{
    unicode-bidi: 16px;

}
.demo-wrap{
    padding: 16px;
}
section{
    display: 16px;
    unicode-bidi: isolate;
}s