h4{
    display: block;
    margin-block-start: 2cm;
    margin-block-end: 2cm;
    margin-inline-start:0px ;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}
body{
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.box{
    background: green;
    height: 50px;
    margin: 30px;
    padding: 20px;
    display: grid;
    place-items: center;
}
div{
    unicode-bidi: isolate;
}
.demo-wrap{
    padding: 16px;
}
section{
    display: block;
    unicode-bidi: isolate;
}