* {

  margin: 0;

  padding: 0;

  box-sizing: border-box;

}

body {

  font-family: Arial, sans-serif;

  color: #222;

  background-color: #f8f8f8;

}

header {

  height: 80px;

  border-bottom: 1px solid #ddd;

  background-color: white;

  display: flex;

  justify-content: center;

  align-items: center;

}

nav {

  display: flex;

  gap: 50px;

}

nav a {

  text-decoration: none;

  color: #333;

  font-size: 16px;

  font-weight: 600;

}

.hero {

  min-height: calc(100vh - 80px);

  display: flex;

  flex-direction: column;

  justify-content: center;

  align-items: center;

  text-align: center;

  padding: 40px 20px;

}

.hero h1 {

  font-size: 64px;

  line-height: 1.15;

  margin-bottom: 35px;

  font-weight: 800;

}

.hero p {

  max-width: 760px;

  font-size: 18px;

  line-height: 1.5;

  margin-bottom: 40px;

  font-weight: 600;

}

.button {

  text-decoration: none;

  background: linear-gradient(90deg, #9b3cff, #2700ff);
  color: #111;

  padding: 18px 55px;

  border-radius: 25px;

  font-weight: 700;
 } 