body { 
    margin: 0;
    padding: 0;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif

}

.demo-wrap {
    padding: 16px;

}
h2, p, div {
    backround: red;

}
a, buttton, span, strong {
    backround: lightblue;
}

.d1, .s1 {
    border: 2px solid black;
    margin: 12px;
    padding: 10px;
    backround: pink;
    width:180px;
    height: 80px;
    margin-top: 80px;
}