input[:type="checkbox"]:checked + span{
    text-decoration: line-through;
    color:gray
}
 
li: :first-child {
    border: 2px solid black;

}
li:last-child {
    border:2px solid black;
}
li:nth-child (5){
    background-color: yellow;
}
li:nth-child(even) {
    background-color: aqua;
}
.btn-demo {
    border:none;
    padding: 12px 20px;
    border-radius: 10px;
    background-color: blue;
    color: white;
    font-weight: bold;
    cursor: pointer;

    transition: background-color 250ms ease-in-out,
                transform 250ms ease,s
                box-shadow: 250 ease;
}

.btn-demo:hover {
    background-color: aliceblue;
    transform: translate(-2px);
    box-shadow: 0 10px 20px rgba(red, green, blue, alpha);
}
